html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.img-res {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#top {
  background: url('../img/password.jpg') center no-repeat;
  background-color: aqua;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background-size: cover;
}

.background-overlay:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

h1 {
  text-align: center;
  color: aliceblue;
}
  
.pass-center{
  display: flex;
  position: fixed;
  top: 45%;
  left: 40%;
  margin-top: -50px;
  margin-left: -100px;
}

.generator {
  margin: auto;
  width: 400px;
  height: 200px;
  padding: 10px;
  text-align: center;
}

.navbar {
  position: relative;
  overflow: hidden;
  background-color:rgba(25,49,75,255);
}

.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    font-size: inherit;
  }

  .nav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

@media (max-width: 320px) {
  .generator {
      margin: auto;
      width: 250px;
      height: 200px;
      padding: 10px;
      text-align: center;
  }
}

@media (max-width: 375px) {
  .generator {
      margin: auto;
      width: 250px;
      height: 200px;
      padding: 10px;
      text-align: center;
  }
}

@media (max-width: 425px) {
  .generator {
      margin: auto;
      width: 250px;
      height: 200px;
      padding: 10px;
      text-align: center;
  }
}

@media (max-width: 768px) {
  .generator {
      margin: auto;
      width: 340px;
      height: 200px;
      padding: 10px;
      text-align: center;
  }
}

@media (max-width: 1024px) {
  .generator {
      margin: auto;
      width: 390px;
      height: 200px;
      padding: 10px;
      text-align: center;
  }
}

@media (max-width: 1440px) {
  .generator {
      margin: auto;
      width: 480px;
      height: 200px;
      padding: 10px;
      text-align: center;
      font-weight: 200;
      font-size: larger;
  }
}

@media (max-width: 408px) {
  .generator {
      margin: auto;
      width: 280px;
      height: 200px;
      padding: 10px;
      text-align: center;
  }
}